body{
    background-image: url(./background-space-slot-game_175250-821.jpg);
}
.heading_style{
    text-align: center;
    color: yellowgreen;
}
.btn{
    text-align: center;
    margin-top: 19vh;
}
.game{
    text-align: center;
}
#btn1{
    height: 6vw;
    background-color: red;
    width: 12vw;
    border-radius: 25px;
    font-size: 1.5vw;
}
#btn1:hover{
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}
.slot-inner{
    margin-top: 26vh;
}
#lower{
    margin-top: 7vh;
}